# Opprett et prosjekt på sanity.io/manage og fyll inn verdiene under
NEXT_PUBLIC_SANITY_PROJECT_ID="ditt-prosjekt-id"
NEXT_PUBLIC_SANITY_DATASET="production"

# Generer en token med "Viewer"-rettigheter fra sanity.io/manage
SANITY_API_READ_TOKEN="din-token-her"
